/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  top: 0;
  left: 0;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: bold;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  flex: 1 1 auto;
  vertical-align: middle;
}

.dark-blue-bg {
  background: #24262F;
  color: #fff;
}

.grey-bg {
  background: #3f3f3f;
  color: #fff;
}

.pink-bg {
  background: #C684C1;
  color: #fff;
}

.purple-bg {
  background: #66638B;
  color: #fff;
}

.center {
  max-width: 1067px;
  margin: 0px auto;
}

p {
  font-size: 14pt;
  line-height: 26px;
}

a {
  color: #fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.form-input {
  width: 33%;
  margin: 8px;
}
.form-input span {
  display: block;
  margin: 4px 0px;
}
.form-input input, textarea {
  display: inline-block;
  height: 36px;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  padding: 12px;
  font-size: 12pt;
}
.form-input input:not([type=submit]) {
  background: #fff;
}
.form-input input[type=submit] {
  display: block;
  width: auto;
  height: auto;
  background: #F9B0F4;
  color: #000;
}
.form-input input[type=submit]:hover {
  background: #C684C1;
  color: #333;
}
textarea {
  height: 140px;
  display: block;
  width: 100%;
  background: #fff;
}

/* /global */



/* navigation */

.menu {
}

.menu .brand {
}
.menu .brand a {
  text-decoration: none;
  padding: 24px;
  display: inline-block;
}
.menu .brand img {
  width: 24px;
}

.menu .links {
  /* padding: 24px; */
}
.menu .links ul {
  list-style-type: none;
  text-align: right;
}
.menu .links ul li {
  display: inline-flex;
}
.menu .links ul li a {
  /* color: #fff; */
  padding: 24px 12px;
  /* text-decoration: none; */
}
.menu .links ul li a:hover {
  /* text-decoration: underline; */
}

/* /navigation */

.header {
  font-family: monospace;
}

.header .header-message {
  text-align: center;
}
.header .header-message div {
  text-align: left;
  display: inline-block;
}
.header .header-message h1 {
  font-size: 32pt;
  margin: 8px 0px;
}

.container {
  padding: 40px 24px;
}
h2 {
  font-size: 20pt;
  margin-bottom: 24px;
}

.stat-card {
  text-align: center;
  font-family: monospace;
  padding: 10px;
  width: 50%;
  max-width: 240px;
  margin: 12px 0px;
}
.stat-card .title {
  display: block;
  font-size: 12pt;
  margin: 8px 0px;
}
.stat-card .value {
  display: block;
  font-size: 26pt;
}

.spotify-player {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  height: 290px;
  display: block;
}

.project-card {
  width: 50%;
  min-width: 340px;
  text-align: left;
  justify-content: flex-start;
}
.project-card .logo {
  width: 100px;
  height: 100px;
  flex: 0;
  margin: 12px;
}
.project-card .title {
  font-family: monospace;
  font-size: 16pt;
}
.project-card .details {
  flex: 1;
  min-width: 300px;
  margin: 12px;
}

.social {
  display: block;
  /* text-align: center; */
}
.social a {
  display: inline-block;
  vertical-align: middle;
  margin: 12px;
  text-decoration: none;
}
.social a img {
  width: 48px;
}

.contact-form .section {
  width: 50%;
  min-width: 300px;
  padding: 12px;
}
.dubya {
  width: 100%;
  max-width: 400px;
}